.fade-scroll {
    position: relative;
    mask-image: linear-gradient(to bottom, transparent, black 10%, black 50%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 50%, transparent);
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}
