.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.box {
    cursor: pointer;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 56, 131);
}

.boxGrow {
    cursor: pointer;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 56, 131);
}

.boxGrow:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.boxFade {
    opacity: 1;
    transition: 0.6s ease-out;
    cursor: pointer;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 56, 131);
}

.boxFade:hover {
    opacity: 0.2;
}

.boxSpaceOut {
    transition: 0.6s;
    cursor: pointer;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 56, 131);
}

.boxSpaceOut:hover {
    letter-spacing: 15px;
    font-size: 1.2em;
    transition: 0.8s;
}

.boxResize {
    transition: 0.5s ease;
    cursor: pointer;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 56, 131);
}

.boxResize:hover {
    width: 350px;
    height: 70px;
    box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.5);
}

.boxPulse {
    animation: pulse 2s infinite;
    cursor: pointer;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 56, 131);
}

@keyframes pulse {
    25% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(0.9);
    }
}

.boxRotate {
    cursor: pointer;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 56, 131);
}

.boxRotate:hover {
    animation: infinite-spinning 2s infinite;
}

@keyframes infinite-spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.slideOut {
    animation-duration: 1.5s;
    cursor: pointer;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 56, 131);
}

.slideOut:hover {
    animation-name: slideOut;
}

@keyframes slideOut {
    from {
        margin-left: 0%;
    }
    to {
        margin-left: 70%;
        opacity: 0;
    }
}

.boxColChange {
    animation-name: colorChange;
    cursor: pointer;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 56, 131);
    animation: colorChange 5s ease infinite alternate;
}

@keyframes colorChange {
    0% {
        background-color: rgb(46, 56, 131);
    }
    50.0% {
        background-color: #efd1ff;
    }
    100.0% {
        background-color: #493d4f;
    }
}

.loader {
    margin: 0 auto;
    border: 16px solid rgb(46, 56, 131);
    border-top: 16px solid #ddd0ff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
